<html>

<body>
    <h1>Bank Index</h1>
    <ul>
        <li><a href="{{url_for('bank_accounts')}}">List Accounts</a></li>
        <li><a href="{{url_for('create_bank_account')}}">Add Account</a></li>
    </ul>
    <h2>Balances</h2>
    <ul>
    {% for account in bank_account_details %}
        <li>{{account["name"]}}: £{{account["balance"]}} 
            <a href="{{url_for('bank_transactions', bank_account_id=account['id'])}}">View Transactions</a>
            <a href="{{url_for('categorise_bank_transactions', bank_account_id=account['id'])}}">Categorise Transactions</a>
        </li>
    {% endfor %}
    </ul>
</body>

</html>