<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <a href="{{url_for('bank_index')}}">Bank Index</a>
    <h1>Uncategorised Bank Transactions</h1>
    <h2>{{account_details["bank"]}} {{account_details["name"]}}</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
            {% for transaction in transactions %}
            <tr>
            <form>
                <td>{{transaction["id"]}}</td>
                <td>Date</td>
                <td>
                    <p class="description_field">Description</p>
                </td>
                <td class="monetary_field">£{{transaction["amount"]}}</td>
                <td><input type="text" id="category" name="category"></td>
                <td><input type="submit" value="Categorise"></td>
                <input type="hidden" id="transaction_id" name="transaction_id" value="{{transaction['id']}}">
            </form>
        </tr>
        {% endfor %}
    </table>


</body>

</html>